.mod-bg {
  content: "";
  display: block;
  position: fixed;
  top: 0;right: 0;left: 0;bottom: 0;
  background-color: black;
  z-index: 9;
  opacity: .7;
}

.carousel__icon {
  fill: white !important;
  background-color: rgba(255, 255, 255, 0.33);
}

@media (min-width: 1000px) {
  /* #postcard_download {
   width: 48vw !important;
   height: 30vw !important;
  } */

  .resp-frame {
    width: 78vh !important;
    height: 60vh !important;
  }
  
  .resp-capture {
    width: 16vw !important;
    height: 16vw !important;
    top: 8vw !important;
    left: 5.5vw !important;
  }
}

.resp-full {
  width: 90% !important;
}

.resp-frame {
  width: 35vw !important;
  height: 20vw !important;
}

.resp-capture {
  width: 10vw;
  height: 10vw;
  top: 5vw;
  left: 4.5vw;
}

@media (max-width: 567px) {
  /* #postcard_download {
    grid-column: span 3 / span 3;
    width: 85vw !important;
    height: 25vh !important;
   } */

  .resp-full {
    width: 100% !important;
  }

  .resp-frame {
    width: 78vw !important;
    height: 80% !important;
  }

  .resp-capture {
    width: 25vw;
    height: 25vw;
    top: 14vw;
    left: 10vw;
  }
  
  .resp-box {
    padding: 20px 15px !important;
    width: 94% !important;
  }

  .resp-box2 {
    top: 40px;
    right: 15px;
    padding: 5px 10px;
  }

  .resp-text-title {
    font-size: 38px;
  }

  .resp-text-title2 {
    font-size: 14px;
  }

  .resp-text-title3 {
    font-size: 8px;
  }

  .resp-col {
    grid-column: span 3 / span 3;
  }

  .resp-flex {
    flex-direction: column;
  }

  .resp-h {
    height: 200px;
  }

  .resp-logo {
    top: 7px;
    left: 15px;
  }

  .resp-right {
    top: 7px;
    right: 15px;
  }

  .resp-img-logo {
    height: 17px;
  }

  .resp-svg {
    width: 50%;
    height: 50px;
    margin-top: -10px;
  }

  .resp-my {
    margin: 0;
  }

  .resp-text-md {
    font-size: 8px;
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.load {
  animation: loading 2s infinite linear;
}